<nav class="navbar navbar-toggleable-sm navbar-light bg-plate">
  <button class="navbar-toggler navbar-toggler-right"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand"
    href="#">Oops</a>

  <div id="navbarSupportedContent"
    class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <div class="form-inline my-2 my-lg-0">

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/new">New</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/polls">Polls</a>
        </li>

        <li class="nav-item">
          <div class="nav-link dropdown">
            <button class="btn btn-secondary btn-sm border-0 dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
            <img src="assets/images/GitHub-Mark-32px.png"></button>
            <div class="dropdown-menu dropdown-menu-right"
              aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item"
                href="https://github.com/kalaharis/oops-api"
                target="_blank">API</a>
              <a class="dropdown-item"
                href="https://github.com/kalaharis/"
                target="_blank">Website</a>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</nav>

<div class="">
  <router-outlet></router-outlet>
</div>