/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('~https://fonts.googleapis.com/icon?family=Material+Icons');

$primary-color: beige;
$secondary-color: #feffef;

.bg-plate{
    background-color: white;
}

body{
    background-color: $primary-color;
}

.shadow{
    box-shadow: 5px 5px 5px black;
}

.bg-transparent{
    background-color:rgba(0, 0, 0, 0);
}

.crop{
    display: inline-block; 
    max-width: 300px; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}